{% extends "layout.html" %}

{% block title %}
Disclaimer
{% endblock %}

{% block main %}
Use at Your Own Risk.
The service available here is for informational purposes only.
You assume all risk for any data you upload through this service.
Although uploaded files are periodically deleted from the server, it is ultimately your responsibility to ensure
files you upload do not contain any sensitive information.
You should never upload files containing sensitive information such as personally identifiable information.
Content or services on this Service may, from time to time, contain errors.
{% endblock %}