<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/gojs/release/go.js"></script>

        <title>CalcExtractor {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/upload"><span class="green">Calc</span></span><span class="blue">Extractor</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/upload">Upload</a></li>
                    </ul>
            </div>
        </nav>

            <header>
                <div class="alert alert-primary border text-center" role="alert">

                </div>
            </header>


        <main class="container p-5">
            {% block main %}{% endblock %}
          {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
          {% endif %}
          {% if message %}
                <p class=error>{{ message }}
          {% endif %}
        </main>
        {% block footer %}
        {% endblock %}
        <footer class="small text-center text-muted">
             This app built by <a href="https://thedotviz.com">Ray Randall</a> using <a href="https://flask.palletsprojects.com/">Flask.
        <a href="/disclaimer">Terms of Use</a>.
        </footer>

    </body>

</html>
