{% extends "layout.html" %}

{% block title %}
    Output
{% endblock %}

{% block main %}
<div id="myDiagramDiv" style="background-color: whitesmoke; border: solid 1px black; width: 100%; height: 600px"></div>
  <p>
    This concept map depicts the relationships between different fields.
      <br>
      If <strong>[Field_A]</strong> ------> <strong>[Field_B]</strong>, then [Field_A] is used in the formula of [Field_B].
      <br>
    <div><strong>Controls</strong>
    <ul>
        Zoom: First click Mouse-wheel, then use Mouse-wheel to zoom
        <br>
        Pan: Click-drag
    </ul></div>
  </p>
<br>
<br>
<form action="/csv" method="post"><input type="hidden" name="fileid" value={{ fileid }}/><button class="btn btn-primary" type="submit">Download CSV</button></form>
<br>

<br>
 <table>
      <tr>
        <th>Datasource</th>
        <th>Type</th>
        <th>Name</th>
        <th>Remote Name</th>
        <th>Formula</th>
        <th>Comment</th>
        <th>Fields</th>
      </tr>
    {% for row in filename %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
        <td>{{ row[4] }}</td>
        <td>{{ row[5] }}</td>
        <td>{{ row[6] }}</td>
      </tr>
    {% endfor %}
    </table>


{% endblock %}

{% block footer %}
<script>
 function init() {
      if (window.goSamples) goSamples();  // init for these samples -- you don't need to call this
      var $ = go.GraphObject.make;  // for conciseness in defining templates

      diagram =
        $(go.Diagram, "myDiagramDiv",  // must name or refer to the DIV HTML element
          {
            initialAutoScale: go.Diagram.Uniform,  // an initial automatic zoom-to-fit
            contentAlignment: go.Spot.Center,  // align document to the center of the viewport
            layout:
              $(go.ForceDirectedLayout,  // automatically spread nodes apart
                { maxIterations: 2000, defaultSpringLength: 30, defaultElectricalCharge: 350 })
          });

  diagram.nodeTemplate =
    $(go.Node, "Auto",
      { // when the user clicks on a Node, highlight all Links coming out of the node
        // and all of the Nodes at the other ends of those Links.
        click: function(e, node) {
            // highlight all Links and Nodes coming out of a given Node
            var diagram = node.diagram;
            diagram.startTransaction("highlight");
            // remove any previous highlighting
            diagram.clearHighlighteds();
            // for each Link coming out of the Node, set Link.isHighlighted
            node.findLinksInto().each(function(l) { l.isHighlighted = true; });
            // for each Node destination for the Node, set Node.isHighlighted
            node.findNodesOutOf().each(function(n) { n.isHighlighted = true; });
            diagram.commitTransaction("highlight");
          }
      },
      $(go.Shape, "Border",
        { strokeWidth: 2, stroke: null, fill: $(go.Brush, "Linear", { 0: "rgb(00, 221, 40)", 1: "rgb(00, 162, 80)" })},
        // the Shape.stroke color depends on whether Node.isHighlighted is true
        new go.Binding("stroke", "isHighlighted", function(h) { return h ? "red" : "rgb(00, 221, 40)"; })
            .ofObject(),
         new go.Binding("strokeWidth", "isHighlighted", function(h) { return h ? 5 : 1; })
            .ofObject()),
      $(go.TextBlock,
        { margin: 10, font: "bold 18px Verdana" },
        new go.Binding("text", "text"))
    );

  // define the Link template
  diagram.linkTemplate =
    $(go.Link,
      { toShortLength: 4 },
      $(go.Shape,
        // the Shape.stroke color depends on whether Link.isHighlighted is true
        new go.Binding("stroke", "isHighlighted", function(h) { return h ? "red" : "black"; })
            .ofObject(),
        // the Shape.strokeWidth depends on whether Link.isHighlighted is true
        new go.Binding("strokeWidth", "isHighlighted", function(h) { return h ? 5 : 1; })
            .ofObject()),
      $(go.Shape,
        { toArrow: "Standard", strokeWidth: 0 },
        // the Shape.fill color depends on whether Link.isHighlighted is true
        new go.Binding("fill", "isHighlighted", function(h) { return h ? "red" : "black"; })
            .ofObject())
    );

  // when the user clicks on the background of the Diagram, remove all highlighting
  diagram.click = function(e) {
    e.diagram.commit(function(d) { d.clearHighlighteds(); }, "no highlighteds");
  };


      // create the model for the concept map
      var nodeDataArray = {{ fields|tojson|safe }};
      var linkDataArray = {{ paths|tojson|safe }};
      diagram.model = new go.GraphLinksModel(nodeDataArray, linkDataArray);
   };
</script>
<body onload="init();">
{% endblock %}

