{% extends "layout.html" %}

{% block title %}
    Output
{% endblock %}

{% block main %}
<form action="/csv" method="post"><input type="hidden" name="fileid" value={{ fileid }}><button class="btn btn-primary" type="submit">Download CSV</button></form>
<br>
<br>
 <table>
      <tr>
        <th>Name</th>
        <th>Remote Name</th>
        <th>Formula</th>
        <th>Comment</th>
      </tr>
    {% for row in filename %}
      <tr>
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
        <td>{{ row[3] }}</td>
      </tr>
    {% endfor %}
    </table>
{% endblock %}
